@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lobster+Two&family=PT+Serif:ital,wght@0,700;1,400&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-image: linear-gradient(45deg,rgb(64, 64, 168),rgb(65, 119, 65)); */
   background-image:linear-gradient(45deg,rgba(46, 46, 116, 0.281),rgba(173, 216, 230, 0.363)),url("https://picsum.photos/id/683/600/400");
   background-position: center;
   background-repeat: no-repeat,repeat;
   background-size: cover;
   background-attachment: fixed;
   background-clip: content-box;
}
h2{
    text-align: center;
    margin-top: 15px;
    color: bisque;
    text-shadow: 5px 5px 5px red;
}
p{
    text-align: justify;
    font-family: 'PT Serif', serif;
    width: 90%;
    margin: 5px auto;
    color: beige;
    text-indent: 12px;
}
.images{
    text-align: center;
    
}
.images h2{
    padding: 20px;
    
}
img{
    width: 40%;
}
img:hover{
    cursor: pointer;
    width: 50%;
    transition: 2s;

}
/* #par4{
    column-count: 2;
    column-rule: 3px dotted rgb(173, 216, 230);
} */
.paraf2{
    margin: 50px 0 ;
}
.paraf2 p{
    column-count: 2;
    column-rule: 3px dotted rgb(173, 216, 230);
}
.paraf2 p:hover{
    font-size: 24px;
    transition: 1.5s;
}
/* .paraf2 p:first-child{
    font-size: 20px;
} */