*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
}
header .person-info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
}
header .signs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-right: 1rem;
}
header .signs span{
    color: rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #20889F;
    flex-wrap: wrap;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
nav ul #name{
    font-weight: 700;
}
nav a{
    list-style-type: none;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

nav p{
    padding-left: 1rem;
    font-size: 1.5rem;
    font-family: 'Kenia', sans-serif;
}
/* * SIDEBAR */
.container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.sidebar{
    display: flex;
    flex-direction: column;
    gap: 1rem ;
    padding-left: 1rem;
    padding-top: 1rem;
    width: 200px;
    height: 50vh;
    box-shadow: 0px 5px 8px gray;
    margin: 1rem;
}
.sidebar a{
    color: #000000;
    text-decoration: none;
    font-size: 1.3rem;
}
.sidebar a i{
    padding-right: 0.5rem;
    color:#000000;
    opacity: 50%;
}   
/* * RIGHT SIDE */
.right{
    width: 60%;
    gap: 1rem;
}
.right-in{
    box-shadow: 0px 5px 8px gray;
}
.right-bottom{
    box-shadow: 0px 5px 8px gray;
    margin: 1rem 0;
}
.participants{
    padding: 1rem 0;
}
.participants h4{
    color:#20889F ;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1rem;
}

.participants img{
    width: 80px;
    height: 80px;
    border: 3px solid black;
    border-radius: 50%;
}
.part-list{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    padding-left: 1rem;
}
.part{
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}
.part .text p{
    color: black;
    font-size: 1.4rem;
}
.part .text span{
    font-size: 1.2rem;
}
/* * FOLLOWERS */

.followers{
    padding-bottom: 3rem ;
}
.followers h4{
    color:#20889F ;
    font-size: 1.3rem;
    padding: 1.5rem;
    font-weight: 600;

}
.follower-list{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.follower{
    display: flex;
    justify-content: center;
    width: 45%;
    gap: 1rem;
}
.follower .text p{
    font-weight: 600;
}
.follower .text span{
    color: #20889F;
}
.follower img{
    width: 125px;
    height: 85px;
    border: 10px solid #20889F;;
    border-radius: 10px;
}
/* * TOP-NEWS */
.news-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 3rem;
    
}
.new{
    width: 45%;
    text-align: center;
    padding: 1rem 0;
}

.new img{
    width: 100%;
}
.top-news{
    margin: 1rem; 
}
.right-bottom h4{
    color:#20889F ;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1.5rem 1rem;
}